/* container */
.flex_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

/* main */
.paragraph_container {


    width: 50%;
    height: 100%;
    margin: auto 0;
}

.paragraph_container p{

    text-align: center;
    padding: 5%;
}

.image {

    width: 40%;
    height: 35%;
    margin: auto auto;
    margin-top: 2%;
    border-radius: 25% 10%;

}

@media screen and (max-width: 720px)
 {
    .flex_holder {
        flex-direction: column;
        justify-content: space-evenly
    }

    .image {

        width: 60%;
        height: 45%;
        margin: auto auto;
        margin-top: 2%;
        border-radius: 10%;
    
    }
    .paragraph_container {


        width: 80%;
        height: 100%;
        margin: auto auto;
    }


}