
/* ****** main ******* */
body {
  margin: 0;
  padding: 0;
}

main {
}

p {
  margin: 0;
}

.main_body {
  display: grid;
  grid-template-rows: auto auto;
}

.first_row {
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: lightgoldenrodyellow;
}

/** vertical sub-grid *** **/
.first_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box1 {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box3 {
  display: flex;
  flex-direction: column;
  margin-right: 40%;
}

/* styling flex columns */

.upper_p1 {
  margin-top: 30%;
  margin-bottom: auto;
}

.lower_p1 {
  margin-bottom: 30%;
}
.column_paragraphs {
  padding: 10%;
  text-align: center;
}

.upper_p2 {
  margin-top: 40%;
  margin-bottom: auto;
}

.lower_p2 {
  margin-bottom: 40%;
}

.column_images {
  width: 70%;
  height: 100%;
}

.image1 {
  align-self: flex-end;
  margin-top: 5%;
  margin-bottom: 10%;
}

.image2 {
  align-self: flex-start;
  margin-top: 5%;
  margin-bottom: 10%;
}

.image3 {
  align-self: flex-end;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* styling second_row(tables) */
.second_row {
}

.table_container {
  padding: 2% 10%;
  background-color: lightyellow;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin:0 auto;
}

td {
  text-align: left;
}

th {
  background-color: lightgrey;
  text-align: left;
}

td,
th {
  padding: 2%;
}

tr,
td {
  border-bottom: 1px solid #ddd;
}
