/* main */
body {
  margin: 0;
}

.reach_row p {
  width: fit-content;
  border: 1px solid grey;
  margin: 2% auto;
  padding: 1%;
  border-radius: 5px;
}

.chat_row p {
  width: fit-content;
  border: 1px solid grey;
  margin: 2% auto;
  padding: 1%;
  border-radius: 5px;
}

.contact_row {
  text-align: center;
}

.contact_row a {
  color: white;
}

i {
  margin: 0 5%;
}

body {
  margin: 0;
}

.main_body {
  margin: 10%;
  padding: 1%;
  border-radius: 5px;
}

.first_row {
  margin-top: 5%;
  text-align: center;
}

.first_row video {
  width: 50%;
  border-radius: 5px;
}

/* display for icons */
.image_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.image_row img {
  margin: 1%;
}

.third_row {
  text-align: center;
}

.form1 {
  width: 20%;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid grey;
}

.form2 {
  width: 15%;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid grey;
}

.form_container input {
  margin-right: 2%;
  margin-top: 2%;
}

.submit {
  background-color: rgb(164, 194, 192);
  border-radius: 5px;
  text-align: center;
}

.submit:hover {
  background-color: grey;
}

/* responsiveness */

@media screen and (max-width: 720px) {
  i {
    margin: 0 1%;
  }

  .first_row video {
    width: 60%;
    border-radius: 5px;
  }
  .submit {

    width: 20px;}
    
}
