/* grid ********************/

.container {
  display: grid;
  grid-template-rows: 20% auto 20%;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
}

main {
  grid-row-start: 2;
  grid-row-end: 3;
}

footer {
  grid-row-start: 3;
}
/* header *********************/

.main_header {
  padding: 40px 5%;
  background-color: rgb(43, 33, 33);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

div.logo {
  float: left;
}

nav ul li {
  border: 1px solid;
  border-radius: 0.5em;
  margin: 5px 5px;
  padding: 1px;
}

nav ul li a {
  display: block;
  padding: 3px 7px;
  text-decoration: none;
  color: white;
}

/*footer section ******************/
.main_footer {
  padding: 20px 5%;
  background-color: rgb(43, 33, 33);
  /* position: absolute;
    top: 100%;
    width: 100%; */
}

.copywrite {
  float: left;
  margin: auto;
  color: white;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons img {
  padding: 5px;
}

/* main */

body {
  margin: 0;
}
p {
  margin: 0;
}

body {
  margin: 0;
}

/* horizontal_grid */

.main_body {
  display: grid;
  grid-template-rows: auto auto auto
}

.first_row {
  background-color: lightgoldenrodyellow;
  margin-top: 5%;
  text-align: center;
}

.first_row video {
  width: 50%;
}

.second_row {
  display: grid;
  grid-template-rows: auto auto;
}
/* styling second row */
.reach_row {
  background-color: yellow;
  padding: 2%;
  text-align:center;
}

/* display for icons */
.image_row {
  background-color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:2%;
  
}

.third_row {
  background-color: lightgrey;
}

/* rows of third row */
form {

}

.form_grid {

  display: grid;
  grid-template-rows: auto auto auto auto;
}

.chat_row {
  background-color: linen;
  padding: 2%;
}

.name_row {
  background-color: lightpink;
  padding:2%;
}

.email_row {
  background-color: peru;
  padding: 2%;
}

.submit_row {
  background-color: rosybrown;
  padding: 2%;
}
