/* grid */

.container {
  height: 100vh;
}


/* main */

body {
  margin: 0;
 
}

h1 {
  text-align: center;

  margin: 0 auto;
  margin-top: 10%;
  width: fit-content;
}

p {
}

.paragraph_container p {
  width: fit-content;
  margin: 1% auto;
}

.header_container {
  text-align: center;
}

.paragraph_container {
  text-align: center;
}
main {

}

.main_container {
  /* background-color: lightgoldenrodyellow; */
}

html {
  max-height: 100vh;
}
